html {
    height: 100%;
    overflow: visible;
}

body {
    margin: 0.5%;
}


#right {
    width: 69vw;
    float: left;
    height: 50vh;
    /* padding-left: 1%; */
    /* border: solid 1px #000; */
}

#analyzer-file {
    height: 26vh;
}

#analyzer {
    height: 100%;
    width: 30%;
    border: solid 1px rgb(214, 3, 3);
    float: left;
}

#block2 {
    height: 100%;
    float: left;
    width: auto;
    /* padding-top:0.1%; */
}

#block3 {
    float: left;
    height: 100%;
    width:21.5vw;
    overflow: scroll;
    border: solid 0.5px #AAAAAA;
}

#rec-side {
    height: 50%;
}

#file-side {
    height: 50%;
}

.thumb {
    margin-top:1%;
    width: 18vw;
    height: 5vh;
    float: left;
}
#list{
    float: left;
}
/* 
#file-side {
    
} */

/* trans-port {
    width: 100%;
} */

#record {
    float: left;
    /* border: solid 1px #000; */
}

#timer {
    float: left;
    font-size: 120%;
    margin-top:2%;
    /* width: 30%; */
    /* border: solid 1px #000; */
}

#button {
    float: left;
    width: 45px;
    height: 45px;
    /* border: solid 1px rgb(31, 116, 76); */
    font-size: 1vh;
}

#stepSeq {
    width: 100%;
    height: 47vh;
    float: left;
    /* position: absolute; */
    margin: auto;
    /* height: 50vh; */
    /* margin-left: 3%;
    margin-right: 3%; */
    /* border: solid 1px rgb(255, 30, 255); */
}

tone-step-sequencer {
    margin-left: auto;
    height: 90%;
    /* margin-top: 2%; */
}

#rangeSlider {
    height: 50vh;
    width: 28.5vw;
    float: left;
    /* display: inline-block; */
    /* border: solid 1px #000; */
    font-size: 3vh;
    /* line-height: 120%; */

}

.range {
    float: left;
    text-align: center;
    width: 25%;
    height: 100%;
    /* border: solid 1px #000; */
}


.input-group {
    width: 70%;
    /* border: solid 1px #000; */
}

#choosefile {
    width: 10%;
    /* border: solid 1px rgb(70, 5, 221); */
}



#play {
    /* border: solid 1px #000; */
    /* float: left; */
    /* width: 100%; */
    /* height: 100%; */
    clear: both;
    width: 69vw;
    /* height: 10%; */
}




#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* padding: 25px; */
    text-align: center;
    float: left;

    color: #bbb;
    width: 50%;
    height: 100%;
}


label>input {
    display: none;
    /* アップロードボタンのスタイルを無効にする */
}

label {
    color: rgb(0, 0, 0);
    /* ラベルテキストの色を指定する */
    font-size: 80%;
    background-color: rgb(250, 223, 223);
    /* ラベルの背景色を指定する */
    /* padding: 2%; ラベルとテキスト間の余白を指定する */
    border: double 1vh #AAAAAA;
    float: left;
    width: 50%;
    margin-bottom: 0px;
    height: 100%;
    vertical-align: middle;
    /* line-height: 100%; */
    /* display: inline-block; */
    /* ラベルのボーダーを指定する */
}

#instruments {
    float: left;
    height: 90%;
    margin-left: 0.5%;
}

.instruments-name {
    font-size: 1.5vmax;
}

/* 全 div にボーダーをあてるやつ */


.vol {
    margin-top: 10%;
    writing-mode: vertical-rl;
    /* text-orientation: upright;  */
    float: left;
}

.num-th {
    width: 100vw;
    font-size: 1.5vw;
}

#number{
    font-size: 80%;
    /* border: 0.2px solid #bbb; */
    margin:0;
}

#num-a{
    font-size: 1.2vw;
}
